<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chinamobile.wanapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/logo_default"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNotitleBar">
        <activity android:name=".ui.activity.StartActivity"
            android:theme="@style/Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity"/>
        <activity android:name=".ui.activity.LoginActivity"/>
        <activity android:name=".ui.activity.RegisterActivity"/>
        <activity android:name=".ui.activity.VerificationCodeActivity"/>
        <activity android:name=".ui.activity.ChangePswActivity"/>
        <activity android:name=".ui.activity.TaskDetailsActivity"/>
        <activity android:name=".ui.activity.TaskDetailsShareActivity"/>
        <activity android:name=".ui.activity.GuideActivity"/>
        <activity android:name=".ui.activity.RewardActivity"/>
        <activity android:name=".ui.activity.PersonSortActivity"/>
    </application>

</manifest>